# Project ID em Clarity > Settings > Overview (https://clarity.microsoft.com)
VITE_CLARITY_PROJECT_ID=yc8d2ig6u0

# Google Form do piloto: https://forms.gle/P1a621YNjMxC79wW7
VITE_GOOGLE_FORM_ACTION=https://docs.google.com/forms/d/e/1FAIpQLSfvcDTQO8Ie3YRcfNrTtBt9QIC35C0XRGWq4EQuD7h5n-6Fiw/formResponse
VITE_GOOGLE_FORM_ENTRY_NAME=entry.1707591706
VITE_GOOGLE_FORM_ENTRY_PHONE=entry.1070325598
VITE_GOOGLE_FORM_ENTRY_DEVELOPMENT=entry.1201434642
VITE_GOOGLE_FORM_ENTRY_MESSAGE=entry.40408375
